.vs/
Bin/
Debug/
packages/
Lib/
ExtInclude/
ExtLibs/

NeutroniumCore/Debug/
NeutroniumCore/Release/
NeutroniumCore/x64/

NeutroniumGraphics/Debug/
NeutroniumGraphics/Release/
NeutroniumGraphics/x64/

NeutroniumPhysics/Debug/
NeutroniumPhysics/Release/
NeutroniumPhysics/x64/

Project1/

StructLayoutSettings.json
Нейтронат калия кальция.txt